<h1><%= book.title %></h1>

<h3>Author: <%=book.author%></h3>
<h3>Number of pages: <%=book.pages%>

<button type="text" href="/books/<%=book.id%>/edit">Edit</button>
<a id="delete-btn" type="text" href="/books/<%=book.id%>">Delete</a>
<hr>
<script>
    $(document).ready(function(){
        $('#delete-btn').click(function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                method:"DELETE",
                url: url
            }).done(function (data){
                window.location = '/books';
            }).fail(function (err){
                console.log(err);
            });
        });
    });
</script>
